@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  width:100%;
  height: 100%;
  padding: 40;
  margin:40;
}

body {
  background: hsla(0, 0%, 0%, 1);

background: radial-gradient(circle, hsla(0, 0%, 0%, 1) 9%, hsla(247, 60%, 21%, 1) 54%);

background: -moz-radial-gradient(circle, hsla(0, 0%, 0%, 1) 9%, hsla(247, 60%, 21%, 1) 54%);

background: -webkit-radial-gradient(circle, hsla(0, 0%, 0%, 1) 9%, hsla(247, 60%, 21%, 1) 54%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#000000", endColorstr="#1C1554", GradientType=1 );
}
.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1.2fr 1fr 1fr 0.8fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "slides keep Pomodoro"
    "Forma Spreadsheet Spreadsheet"
    "Forma Quote Poll"
    "Steps google-meet Google-Calender";
}

.Pomodoro { grid-area: Pomodoro; }

.Spreadsheet { grid-area: Spreadsheet; }

.Forma { grid-area: Forma; }

.Quote { grid-area: Quote; }

.Poll { grid-area: Poll; }

.Steps { grid-area: Steps; }

.Google-Calender { grid-area: Google-Calender; }

.slides { grid-area: slides; }

.keep { grid-area: keep; }

.google-meet { grid-area: google-meet; }
