@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width:100%;
  height: 100%;
  padding: 40;
  margin:40;
}

body {
  font-family: 'Space-Grotesk', sans-serif;
  background-color:   #22333B;
}
.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1.2fr 1fr 1fr 0.8fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "slides keep Pomodoro"
    "Forma Spreadsheet Spreadsheet"
    "Forma Quote Poll"
    "Steps google-meet Google-Calender";
}

.Pomodoro { grid-area: Pomodoro; }

.Spreadsheet { grid-area: Spreadsheet; }

.Forma { grid-area: Forma; }

.Quote { grid-area: Quote; }

.Poll { grid-area: Poll; }

.Steps { grid-area: Steps; }

.Google-Calender { grid-area: Google-Calender; }

.slides { grid-area: slides; }

.keep { grid-area: keep; }

.google-meet { grid-area: google-meet; }
